.backdrop{
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.crop-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.controls{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
}

.controls-upper-area{
  text-align: center;
   display: flex;
}

.slider{
  width: 50%;
  display: flex;
  justify-content: center;
}

.button-area{
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-items: center ;
}

button{
  margin-left: 10px;
  margin-right: 10px;
  background-color: black;
  color: white;
  border: 1px solid yellow;
  font-size: 20px;
}

.check {
  position: absolute;
  top : -200px;
  color: #FFFFFF;
  z-index: 5;
}
